*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  background-color: honeydew;
  margin: 30px 50px ;      
  font-family: "helvetica neue" sans-serif;    
}

.grid{
  display: grid; 
  grid-gap: 15px;
  max-width: 960px;
  width: 100%;
  margin: 30px auto ;
  text-transform: uppercase;
  grid-template-columns: repeat(2, 1fr);
}



.box{
  display: flex;
  align-items: center;
  text-align: center;
  outline: 1px solid black;
  min-height: 200px;
}

.box p{
  text-shadow: 1px 1px #000;
  width: 100%;
}
/* left grid */
.grid-container-left{
  text-align: center;
  color: white;
  display: grid;
  grid-gap: 15px; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  'orange raspberry'
  'orange banana'
  'strawberry banana';
}

.orange{
  grid-area: orange;
  background-color: #ffaa00;
}

.strawberry{
  grid-area: strawberry;
  background-color: #e34b50;
}

.raspberry{
  grid-area: raspberry;
  background-color: #dd79a2;
}

.banana{
  grid-area: banana;
  background-color: #ffe774;
}

/* right grid */
.grid-container-right{
  color: white;
  display: grid;
  grid-gap: 15px; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  'dragon-fruit mandarin'
  'cherry mandarin'
  'blueberry blueberry';
}

.dragon-fruit{
  grid-area: dragon-fruit;
  background-color: #cc617f;
}

.cherry{
  grid-area: cherry;
  background-color: #bd3c4b;
}

.blueberry{
  grid-area: blueberry;
  background-color: #4b4d76;
}

.mandarin{
  grid-area: mandarin;
  background-color: #fca858;
}

/* footer */

footer{
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid #eaeaeb;
}

footer p{
  height: 70px;
  text-decoration: none;
}
/* nav & menu css */

.nav{
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  position: relative;
  top: -20px;
}

.menu {
  position: absolute; 
  top: 0px;
  z-index: auto;
  width: 100%;
  text-align: center;  
  color: black;
}

.menu a{
  clear: right;
  text-decoration: none;
  margin: 5px 15px;
  padding: 10px 15px;
  line-height: 70px;
  border-radius: 5px;
}

.menu a:hover{
  background: rgba(228, 219, 208, 0.5);
  border: 1px solid rgba(0, 0, 0, .5);
  color: #000;
}

label{
 margin: 0 40px 0 0; 
 font-size: 26px;
 line-height: 70px;
 display: none;
 width: 20px;
 float: right;
}

#toggle{
  display: none;
}

/* media queries */

@media screen and (max-width:640px){
  .menu a{
    clear: right;
    text-decoration: none;
    margin: 5px 5px;
    padding: 10px 5px;
    line-height: 70px;
    border-radius: 5px;
  }
}

@media screen and (max-width:600px){

  .grid{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
  }
  .grid-container-right{
    display: grid;
    margin-top: 20px;
  }

  label{
    display:block;
    cursor: pointer;
  }

  .menu{
    text-align: center;
    width: 100%;
    display: none;
    background: rgba(151, 143, 143, 0.5);
    position: absolute;
    top: 70px;
  }

  .menu a{
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0px;
  }

  .menu a:hover{
    background-color: #fff;
  }

  #toggle:checked + .menu{
    display: block;
  }
}
